---
---

@import "bootstrap";

body {
  padding-top: 70px;
  text-align: justify;
}

figcaption {
  text-align: right;
  margin-top: -20px;
  margin-bottom: 20px;
}

.breadcrumb {
  background: none;
  border: none;
  display: block;
  margin-left: 0;
  padding-left: 0;
}

.nopadding-left {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.nopadding-right {
  padding-right: 0 !important;
  margin-right: 0 !important;
}

.team-member-card {
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 900px; /* or 950px */
}

/* Carousel */

.carousel {
  border-radius: 3px 3px 3px 3px;
  margin-bottom: 20px;
  margin-top: 20px;
}



details > summary {
  list-style-type: '▶';
  // padding: 2px 6px;
  // width: 15em;
  // background-color: #ddd;
  // border: none;
  // box-shadow: 3px 3px 4px black;
  // cursor: pointer;
}






/* Subtle concrete/contrast gray page background */
// html, body {
//   background-color: #f2f2f2; /* tweak: #efefef or #ececec for slightly darker */
// }

/* Thin red line at the very top */
.top-accent {
  width: 100%;
  padding: 4px 0;       /* height based on text padding */
  text-align: center;
  background: transparent; /* no background color */
}

.accent-text {
  color: #015a77; /* replace with your desired hex color */
  font-size: 25px;
  font-weight: 500;
}






// details > p {
//   border-radius: 0 0 10px 10px;
//   background-color: #ddd;
//   padding: 2px 6px;
//   margin: 0;
//   box-shadow: 3px 3px 4px black;
// }

// details[open] > summary {
//   background-color: #ccf;
// }
