---
layout: default
---


<!-- <div class="row text-center">
		<span class="accent-text">We are looking for new Project Assistants & Interns to join the team** [(see openings)]({{ site.url }}{{ site.baseurl }}/openings)!</span>
</div> -->

<div class="row text-center">
  <span class="accent-text">
	Project Details for M.Tech. CDS and AI Students (<a href="{{ site.url }}{{ site.baseurl }}/mtech_projects">
    <span class="flick-word">See in Detail</span>
    </a>)
	<br>
    We are looking for new Project Assistants & Interns to join the team
    (see <a href="{{ site.url }}{{ site.baseurl }}/openings">
    <span class="flick-word">openings</span>
    </a>)
  </span>
</div>

<div class="row home-flex">
<div id="homeid" class="col-sm-7 ml-0 nopadding-left">
	
	<div id="carousel" class="carousel slide" data-ride="carousel" data-interval="5000" data-pause="hover" >
		<!-- Menu -->
		<ol class="carousel-indicators">
			<li data-target="#carousel" data-slide-to="0" class="active"></li>
			<li data-target="#carousel" data-slide-to="1"></li>
			<li data-target="#carousel" data-slide-to="1"></li>
		</ol>

		<!-- Items -->
		<div class="carousel-inner" markdown="0">
			<div class="item active">
				<a href="https://visual-computing.in/team/"><img src="{{ site.url }}{{ site.baseurl }}/images/slider/team_pic.jpg" alt="Slide 2" /></a>
			</div>
			<div class="item">
				<a href="https://github.com/vcl-iisc/ZSKD"><img src="{{ site.url }}{{ site.baseurl }}/images/slider/ZSKD.png" alt="Slide 2" /></a>
			</div>
			<div class="item">
				<a href="https://iisc.ac.in/"><img src="{{ site.url }}{{ site.baseurl }}/images/slider/iisc.jpg" alt="Slide 1" /></a>
			</div>
			<div class="item">
				<a href="https://cds.iisc.ac.in/"><img src="{{ site.url }}{{ site.baseurl }}/images/slider/cds.jpg" alt="Slide 2" /></a>
			</div>
		</div>
		<a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#carousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
		</a>
	</div>

	{{ content }}
</div>
<!-- 
<div id="newsid" class="col-sm-4 nopadding-right" >
	{% include tweets.html %}
</div> -->
<!-- <div class="top-accent">
	</div> -->

<!-- <div class="top-accent">
  <span class="accent-text">We welcome enthusiastic students to join our lab as project assistants or interns. Fill out this form to apply — and don’t hesitate to reach out, even if it’s just to share ideas or get feedback! 🙂
</span>
</div> -->

<!-- <div class="row">
 We are looking for new PhD students, Master students, Project Assistants and Interns to join the team** [(see openings)]({{ site.url }}{{ site.baseurl }}/openings) !
</div> -->

<div id="newsid" class="col-sm-5" >
	{% include news.html %}
  </div>
  <div id="newsid" class="col-sm-5" >
	{% include contact.html %}
  </div>
</div>
